*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
/*

*/
#root,
#__next {
  isolation: isolate;
}

/* ------------------------------------------------------------ */
.blackjack {
  margin: 0 auto;
  width: 100%;
  font-family: "Tajawal", serif;
}

.container {
  background-image: url(./images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  text-align: center;
  color: white;

  #message-el {
    font-style: italic;
  }

  h1 {
    margin-top: 0;
    color: goldenrod;
    font-size: 3.125rem;
    font-size: clamp(
      3.125rem,
      1.5306122448979593rem + 6.802721088435374vw,
      6.25rem
    );
  }

  p {
    font-size: 1.875rem;
    font-size: clamp(
      1.875rem,
      1.3966836734693877rem + 2.0408163265306123vw,
      2.8125rem
    );
  }

  .start {
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1.875rem;
    font-size: clamp(
      1.875rem,
      1.3966836734693877rem + 2.0408163265306123vw,
      2.8125rem
    );
    padding: 0 20px;
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    backdrop-filter: blur(3.8px);
    border: 1px solid rgba(255, 255, 255, 0.35);
    box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.75);
    transition: all 150ms ease-in-out;

    &:hover {
      background: rgba(255, 255, 255, 0.16);
    }

    &:active {
      transform: translateY(3px);
      box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.75);
    }
  }
}
